<div class="text-center py-5">
  <%= image_tag "icons/blank-tags.png", size: "100x100", class: "p-3" %>
  <h2>No tags</h2>
  <h4 class="lead text-muted">No tags are available at the moment.</h4>
</div>
