<% if @repositories.any? %>
  <% @namespaces.each do |namespace, repositories| %>
    <%= render "namespace", namespace: namespace, repositories: repositories %>
  <% end %>

  <% if @repositories.more? %>
    <div class="text-center">
      <%= link_to root_path(last: @repositories.last.name), class: "btn btn-outline-secondary px-4" do %>
        Next page
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="card-body text-center py-5">
    <h2>Empty</h2>
    <h4 class="lead text-muted">There are no repositories in this registry at the moment.</h4>
  </div>
<% end %>
