<% if @repositories.any? %>
  <% @namespaces.each do |namespace, repositories| %>
    <%= render "namespace", namespace: namespace, repositories: repositories %>
  <% end %>
<% else %>
  <div class="card-body text-center py-5">
    <h2>Empty</h2>
    <h4 class="lead text-muted">There are no repositories in this registry at the moment.</h4>
  </div>
<% end %>
