<ol class="breadcrumb">
  <li><%= link_to "Repositories", root_path %></li>
  <li class="active"><%= @repository.name %></li>
</ol>

<% if @repository.tags.any? %>
  <div class="list-group">
    <% @repository.tags.each do |tag| %>
      <%= link_to repository_tag_path(name: @repository.name, tag: tag), class: "list-group-item" do %>
        <strong>Tag:</strong> <%= tag %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>No tags at the moment :(</p>
<% end %>
