<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Namespace:</strong> <%= link_to @repository.namespace, root_path(anchor: "namespace-#{@repository.namespace}") %>
    /
    <strong>Image:</strong> <%= @repository.image %>
  </div>
  <% if @repository.tags.any? %>
    <div class="list-group">
      <% @repository.tags.sort.each do |tag| %>
        <%= link_to tag_path(repo: @repository.name, tag: tag), class: "list-group-item" do %>
          <strong>Tag:</strong> <%= tag %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="panel-body">
      No tags at the moment :(
    </div>
  <% end %>
</div>
