<div class="input-group">
  <%= text_field :image, :pull_command, value: local_assigns[:value], class: "form-control", readonly: true %>
  <span class="input-group-append">
    <a href="#" class="btn btn-outline-secondary" data-behaviour="copy-pull-command">Copy</a>
  </span>
</div>
