<div class="card border-danger mb-3">
  <div class="card-header bg-danger text-white">Danger Zone</div>
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-0">
        <%= image_tag "icons/danger.png", size: "50x50", class: "mr-3" %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h5 class="card-title mb-1">Delete Tag</h5>
        <p class="card-text">
          Please be careful as this will not just delete the reference but also the actual content!
          <br /><br />
          For example when you have <strong>latest</strong> and <strong>v1.2.3</strong> both pointing to the same image<br />
          the deletion of <strong>latest</strong> will also permanently remove <strong>v1.2.3</strong>.
        </p>

        <button type="button" class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#delete-dialog">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete the following tag?</p>
        <p class="font-monospace"><%= @tag.name %></p>
        <p>Please enter the tag name below to confirm:</p>
        <p><%= text_field_tag :delete_confirm, nil, class: "form-control", data: { expected: @tag.name }, placeholder: "Enter tag name here" %></p>
        <p>This will enable the <strong>Delete</strong> button.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= link_to "Delete", tag_path(@repository.name, @tag.name), data:{turbo_method: :delete}, id: "delete-button", class: "btn btn-danger disabled" %>
      </div>
    </div>
  </div>
</div>
