<div class="text-center mt-5">
  <h1 class="cover-heading">Error</h1>
  <p class="lead">
    The delete request was blocked by the registry.
  </p>
  <p>
    This was very likely caused by the delete functionality not being enabled there.<br>
    Please check the <a href="https://docs.docker.com/registry/configuration/#delete">official documentation</a> to find out how to enable it.
  </p>
</div>
