<div class="text-center mt-5">
  <h1 class="cover-heading">Error</h1>

  <p class="lead">The obtained bearer token was rejected by the registry.</p>

  <p>
    Please verify the ACLs to ensure the configured user has the required permissions.
    <br />
    Delete session cookies to retry.
  </p>
</div>
