<div class="text-center mt-5">
  <h1 class="cover-heading">Error</h1>

  <p class="lead">Could not obtain token with configured credentials.</p>

  <p>
    Please verify the username and password.
    <br />
    Delete session cookies to retry.
  </p>
</div>
