@import "bootstrap";

body > .container {
  padding: 6rem 1rem;
}

.alert-notice {
  @extend .alert-warning;
}

.alert-error {
  @extend .alert-danger;
}

.badge-dimage {
  color: #ffffff;
  background-color: #22aac4;
}

.badge-dtag {
  color: #ffffff;
  background-color: #1bad73;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.border-docker {
  border-color: #0db7ed !important;
}

.copy-to-clipboard-icon {
  position: relative;
  z-index: 1029;
  margin-left: 1.25rem;

  a {
    position: absolute;
    display: inline-block;
    margin-top: .75rem
  }
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
