.card-border-blue {
  border-color: #22aac4;
}

.item-repository .badge {
  background-color: #22aac4;
}

.item-repository .card {
  border-color: #22aac4;
}

.item-tag .badge {
  background-color: #1bad73;
}

[data-bs-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
