<footer class="fixed-bottom bg-body-tertiary text-muted text-center border-top p-4 mt-4">
  <small>
    <a class="text-reset text-decoration-none" href="https://github.com/klausmeyer/docker-registry-browser" target="_blank">Docker Registry Browser</a>
    &middot;
    Version <%= Rails.application.config.x.version %>
    &middot;
    Copyright &copy; <%= Time.current.year %> <a class="text-reset text-decoration-none" href="https://www.klaus-meyer.net" target="_blank">Klaus Meyer</a>
  </small>
</footer>
