<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="/">
      <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/docker-48.png" title="Docker" width="42">
      Docker Registry Browser
    </a>
  </div>
</nav>
