<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="/">
      <%= image_tag "icons/docker-header.png", alt: "Docker", width: "42" %>
      Docker Registry Browser
    </a>
  </div>
</nav>
